* {
  padding: 0;
  margin: 0;
  font-family: "Gideon Roman", cursive;
}

body {
  background: #f1f1f1;
}

html {
  scroll-behavior: smooth;
}

.conteudo {
  box-shadow: 2px 10px 12px 5px rgb(0 0 0 / 10%);

  top: 50px;
  left: 50%;
  width: 500px;
  background: white;
  margin-top: 50px;
}

.calendario {
  text-align: center;
}

.calendario header {
  position: relative;
}

.conteudo .calendario header {
  position: relative;
}

#mes {
  margin-top: 20px;
  font-size: 32px;
  text-transform: uppercase;
}

.btn-ant,
.btn-pro {
  position: absolute;
  top: 50%;
  height: 32px;
  width: 32px;
  line-height: 32px;
  margin-top: -16px;
  border: 2px solid #cbd1d2;
  border-radius: 50%;
  color: #cbd1d2;
  font-size: 16px;
  font-weight: bold;
}

.btn-ant {
  cursor: pointer;
  left: 80px;
}

.btn-pro {
  cursor: pointer;
  right: 80px;
}

.btn-ant:hover,
.btn-pro:hover {
  background: #cbd1d2;
  color: #f9f9f9;
}

.calendario table {
  margin-top: 20px;
  border-collapse: collapse;
}

.calendario thead {
  background: white;
  font-weight: 600;
  text-transform: uppercase;
}


.calendario td {
  border: 1px solid #cbd1d2;
  height: 71.4px;
  text-align: center;
  width: 71.4px;
}

.calendario tbody td {
  cursor: pointer;
}

.calendario tbody td:hover {
  background: rgba(0, 173, 223, 0.8);
  color: #f9f9f9;
}

.calendario table .dia-atual {
  background: #00addf;
  color: #f9f9f9;
}

.calendario .mes-anterior,
.calendario .proximo-mes {
  color: #cbd1d2;
}

.calendario .mes-anterior:hover,
.calendario .proximo-mes:hover {
  background: #98a0a0;
}

.event {
  position: relative;
}

.event:after {
  content: "";
  width: 7px;
  height: 7px;
  left: 50%;
  bottom: 7px;
  margin: -3.5px 0 0 -3.5px;
  background: #00addf;
  display: block;
  position: absolute;
  border-radius: 50%;
}

.event:hover::after {
  background: #f9f9f9;
}

.event.dia-atual:after {
  background: #f9f9f9;
}

footer {
  font-size: 28px;
  padding: 10px;
}

.modal-content {
  display: none;
}