@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

 html, body{
	height: 100vh;
	width: 100%;
}

.clear{
    clear: both;
}

.container{
    width: 100%;
	margin: 0 auto;
	display: flex;
    justify-content: center;
}

/*********Header*********/

.slick-dots li button:before
    {
        font-size: 40px;
        line-height: 20px;
        
    }

header{
    padding: 20px 2%;
    width: 100%;
}

header .container{
	max-width: 1500px;
}

header .logo{
    width: 236px;
    float: left;
}

nav.menu-mobile{
	width: 28px;
	height: 28px;
	background-image: url('../Assets/menu-mobile.png');
	background-size: cover;
	background-repeat: no-repeat;
    display: none;
	margin-right: 5px;
	cursor: pointer;
}

nav.menu-mobile ul{
	position: absolute;
	top: 60px;
	left: 0;
	background-color: #688293;
	text-align: center;
	width: 100%;
	z-index: 10;
	display: none;
}

nav.menu-mobile ul li{
	padding: 10px 0;
	text-transform: uppercase;
}

nav.menu-mobile ul li a{
	color: white;
}


header nav.menu-desktop{
    float: right;
}

nav.menu-desktop ul li{
    list-style-type: none;
    float: left;
    margin-right: 15px;
    padding: 10px 0;
}

header nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: #b4b4b4;
    font-size: 14px;
}

/***************/


/*********section-mosaico*********/

section.mosaico{
    padding: 0 0 3%;
}

.mosaico-single{
    width: calc(100% / 6);
    float: left;
	padding: 0 5px;
}

.img-single{
    width: 100%;
    padding-top: 100%;
    border-bottom: 3px solid white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/*********section-servicos*********/

section.servicos > .container{
	width: 100%;
    max-width: 1000px; 
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
    color: white;
	margin: 10 0;
}

.box-servicos{
    background-image: url('../Assets/icone_dente.png');
    background-size: 18px 18px;
	background-position: center calc(100% - 5px);
	background-repeat: no-repeat;
}

.box-servicos h2{
    color: white;
	font-weight: normal;
	font-size: 15px;
}

.box-servicos p{
    color: #c1c8cc;
	margin-top:8px;
	font-weight: normal;
	font-size: 12px;
}

.txt-ser{
	text-align: center;
}

.box-servicos:nth-of-type(1){
    width: 40%;
    padding: 60px 30px;
    background-color: #576975;
}

.box-servicos:nth-of-type(2){
    width: 50%;
    padding: 70px 70px;
    background-color: #688293;
    background-image: none;
}

.box-servicos:nth-of-type(3){
    width: 40%;
    padding: 60px 30px;
    background-color: #576975;
}

.box-servicos:nth-of-type(2) h2{
	font-size: 18px;
}

/***************/


/*********section-perfil*********/

.perfil{
	padding: 0 2%;
}

.container-perfil{
	max-width: 1000px;
	width: 100%;
	margin:40px auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.img-fernanda{
	width: 40%;
	height: 520px;
	background-image: url('../Assets/img_perfil.png');
	background-size: cover;
	background-repeat: no-repeat;
}

.content-fernanda{
	width: 60%;
	padding:20px 30px;
}

.content-fernanda h2{
	color: #698293;
	font-size: 18px;
	font-weight: normal;
}

.content-fernanda p{
	color: #b4b4b4;
	font-size: 13px;
	margin-top:20px;
}

/***************/

/*********section-videos*********/

section.videos{
	padding: 50px 2%;
}

section.videos .box-video{
	text-align: center;
	width: 100%;
	/* padding-top:300px; */
	/* position: relative; */
}

section.videos iframe{
	width: 460px;
	height: 276px;
}

/***************/


/*********section-tratamentos*********/

section.tratamentos .tratamento-container{
	float: left;
	width: 33.3%;
	padding: 30px 0;
	max-width: 1500px;
}

section.tratamentos{
	max-width: 1500px;
	margin: 0 auto;
}

section.tratamentos{
	padding:50px 0;
}

section.tratamentos > h2{
	color: #698293;
	text-align: center;
	font-size: 18px;
	font-weight: normal;
	text-transform: uppercase;
}

.tratamento-single{
	padding:20px 20px;
}

.tratamento-single h2{
	font-size: 18px;
	color: #737373;
	text-align: justify;
	font-weight: normal;
}

.tratamento-single p{
	padding:10px 0;
	font-size: 13px;
	color: #b4b4b4;
	text-align: justify;
}

/***************/



/***************section-depoimentos******************/

section.depoimentos{
	padding: 40px 0;
}

section.depoimentos > h2{
	color: #698293;
	text-align: center;
	font-size: 18px;
	font-weight: normal;
	text-transform: uppercase;
}

section.depoimentos > .container{
	padding:40px 0;
	max-width: 400px;
}

section.depoimentos .depoimento-single{
	text-align: center;
	width: 100%;
	padding:0 2%;
}

.depoimento-single quote{
	font-size: 15px;
	color: #b4b4b4;
}

.depoimento-single .nome-depoimento{
	padding:19px 0;
}

.nome-depoimento img{
	width: 32px;
	height: 32px;
	border-radius: 16px;
}

.nome-depoimento span{
	position: relative;
	top:4px;
	font-size: 13px;
	color: #b4b4b4;
	display: inline-block;
	vertical-align: top;
}


/***************/


/***************section-social media******************/



.instagram-chamada{
	float: left;
	width: 100%;
	text-align: center;
	padding:40px 0;
	background: #98a5ae;
}

.instagram-chamada p{
	line-height: 23px;
	color: white;
	padding:10px 0;
	font-size: 13px;
}

.mosaico-social{
	float: left;
	width: 100%;
}

.img-mosaico-single-social{
	float: left;
	width: calc(100% / 9);
	padding-top: 100%;
	border:6px solid white;
}

.img-mosaico-single-social:nth-child(4n+0){
	background-image: url('../Assets/1.png');
	background-size: cover;
	background-position: left;
	background-repeat: no-repeat;
}

.img-mosaico-single-social:nth-child(4n+1){
	background-image: url('../Assets/2.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.img-mosaico-single-social:nth-child(4n+2){
	background-image: url('../Assets/3.jpeg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.img-mosaico-single-social:nth-child(4n+3){
	background-image: url('../Assets/5.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.facebook-chamada{
	float: left;
	width: 100%;
	text-align: center;
	padding:40px 0;
	background:  #576975;
}

.facebook-chamada p{
	line-height: 23px;
	color: white;
	padding:10px 0;
	font-size: 13px;
}


/***************/


/***************section form******************/


section.formulario{
	width: 100%;
	padding: 0 2% 5% 2%;
}

section.formulario h2{
	color: #698293;
	text-align: center;
	font-size: 18px;
	font-weight: normal;
	text-transform: uppercase;
	margin-bottom: 30px;
}

section.formulario form{
	max-width: 430px;
	margin: 0 auto;
}

section.formulario form p{
	color: #b4b4b4;
	font-size: 15px;
	margin-top: 17px;
}

section.formulario form input[type='text'],
section.formulario form input[type='email']{
	width: 100%;
	height: 35px;
	border: 1px solid #dadada;
	outline: none;
	padding-left: 10px;
	line-height: 35px;
	margin-top: 8px;
}


section.formulario form textarea{
	width: 100%;
    padding: 10px;
    margin-top: 8px;
    height: 121px;
    border: 1px solid #dadada;
    resize: none;
	outline: none;
}

section.formulario .btn input[type='submit']{
	margin-top: 20px;
	border: 0;
	background: #688293;
	color: white;
	cursor: pointer;
	font-size: 14px;
	width: 99px;
	height: 35px;
}
section.formulario .btn{
	text-align: center;
}


/***************/


/***************section info-geral******************/

section.info-geral{
	background: #688293;
	padding: 100px 2%;
	text-align: center;
}

.rodape-container{
	width: 100%;
	max-width: 1500px;
}

.box-rodape{
	vertical-align: top;
    max-width: 380px;
    margin: 0 4%;
    text-align: left;
    display: inline-block;
    width: auto;
	color: white;
	display: inline-block;
}

.box-rodape h2{
	font-weight: normal;
	font-size: 17px;
}

.box-rodape p{
	margin-top: 9px;
	font-size: 14px;
}

.box-rodape a{
	color: white;
}

/***************section info-geral******************/
footer{
	padding: 19px 2%;
	background: #576975;
	text-align: center;
}

/*************** Media querys******************/
@media screen and (max-width: 1024px){
	.img-mosaico-single-social{
		width: calc(100% / 6);
		padding-top: calc(100% / 6);
	}

	.mosaico-social > div:nth-of-type(1n+7){
		display: none;
	}

	.container-perfil{
		max-width: 1000px;
		width: 100%;
		margin:40px auto;
		display: block;
	}

	.img-fernanda{
		margin: 0 auto;
		width: 70%;
		padding-top: 70%;
		/* background-image: url('../Assets/img_perfil.png'); */
		background-size: cover;
		background-repeat: no-repeat;
	}
	
	.content-fernanda{
		width: 100%;
		padding:20px 30px;
	}
}

@media screen and (max-width: 885px){
	.box-rodape{
		max-width: 380px;
		width: 100%;
		margin: 0 auto;
		text-align: left;
		display: block;
		width: auto;
		color: white;
		text-align: center;
		margin-bottom: 20px;
	}
}

@media screen and (max-width: 768px){

	nav.menu-desktop{
		display: none;
	}

	nav.menu-mobile{
		display: block;
        float: right;
	}

	section.servicos > .container{
		flex-direction: column;
        top: -10px;
		max-width: 100%;
	}

	.box-servicos:nth-of-type(1){
		width: 85%;
		padding: 30px 30px;
		background-color: #576975;
	}
	
	.box-servicos:nth-of-type(2){
		width: 90%;
		padding: 40px 70px;
		background-color: #688293;
		background-image: none;
	}
	
	.box-servicos:nth-of-type(3){
		width: 85%;
		padding: 30px 30px;
		background-color: #576975;
	}

		section.perfil-container .perfil-wraper{
			padding-top: 0;
		}

		section.perfil-container .perfil-wraper2{
			/*
			position: absolute;
			left: 0;
			top: 0;
			display: flex;
			align-items: center;
			width: 100%;
			height:100%;
			*/
			position: static;
			height: auto;
			text-align: center;
			display: inline-block;
			/*flex-direction: column;*/
		}

		section.perfil-container .img-perfil{
		width: 50%;
		padding-top:70%;
		display: inline-block;
		height: auto;
		/*
		background-image: url('../imagens/img_perfil.png');
		background-size: 100% 100%;
		*/
		}

		section.perfil-container .texto-perfil{
			display: inline-block;
			text-align: justify;
			width: 100%;
			padding:0 30px;
		}

		section.videos{
			padding: 50px 2%;
			text-align: center;
		}
		
		section.videos .box-video{
			float: none;
			width:70%;
			padding-top: calc(70% * 0.6);
			position: relative;
			border: 5px solid white;
			display: inline-block;
		}
		
		section.videos iframe{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

		.img-mosaico-single-social{
			float: left;
			width: calc(100% / 9);
			padding-top: 100%;
			border:6px solid white;
		}

		.img-fernanda{
			margin: 0 auto;
			width: 100%;
			padding-top: 100%;
			/* background-image: url('../Assets/img_perfil.png'); */
			background-size: cover;
			background-repeat: no-repeat;
		}
}


@media screen and (max-width: 580px){
	section.perfil-container .img-perfil{
		width: 80%;
		padding-top:110%;
	}

	section.videos .box-video{
		float: none;
		width:100%;
		padding-top: calc(100% * 0.6);
		position: relative;
		border: 5px solid white;
		display: inline-block;
	}

	/* section.tratamentos .tratamento-container{
		float: left;
		width: 50%;
		padding: 30px 0;
	}

	#last{
		display: none;
	} */
}


@media screen and (max-width: 480px){
	header .logo img{
		width: 200px;
	}
}
