* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #576975;
}

body {
    background: #f1f1f1;
    height: 100vh;
    width: 100vh;
}

.mainlogin {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftlogin {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75); */

.leftlogin h1 {
    color: #576975;
    font-size: 5vh;
}

.rightlogin {
    width: 47vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardlogin {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #f1f1f1;
    border-radius: 20px;
    box-shadow: 0px 0px 45px 15px #576975;
}

.cardlogin h1 {
    color: #576975;
    font-weight: 800;
    margin: 0;
}

.textfield {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 7px 0;
}

input {
    height: 40px;
}

.textfield input,
.textfield select {
    width: 100%;
    border: 1px solid #576975;
    border-radius: 10px;
    padding: 12px;
    background: #f1f1f1;
    color: #576975;
    font-size: 12pt;
    box-shadow: 0px 5px 20px #f1f1f1;
    outline: none;
    box-sizing: border-box;
}

.textfield label {
    color: #576975;
    margin-bottom: 5px;
}

.textfield input::placeholder {
    color: #576975;
}

.btn-login {
    width: 100%;
    margin: 25px;
    border: 2px solid #576975;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    color: #576975;
    background: transparent;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #f1f1f1;

}

.left-login-image {
    width: 450px;
    height: 450px;
}

.esqueciSenha {
    display: flex;
    justify-content: end;
    align-items: end;
    width: 100%;
}

.cardbuttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.cardbuttons input,
.cardbuttons button {
    padding: 7px;
    margin: 0;
    width: 45%;
}

@media only screen and (max-width:900px) {
    .cardlogin {
        width: 85%;
    }

    .leftlogin h1 {
        color: #77ffc0;
        font-size: 4vh;
    }


}

@media only screen and (max-width:820px) {
    .mainlogin {
        display: flex;
        flex-direction: column;
    }

    .leftlogin h1 {
        color: #77ffc0;
        display: none;
    }

    .leftlogin {
        width: 100%;
        height: auto;
    }

    .rightlogin {
        width: 100%;
        height: auto;
    }

    .left-login-image {
        width: 50vh;
    }

    .cardlogin {
        width: 90%;
        margin: 15px;
    }

}

@media only screen and (max-width:600px) {
    .mainlogin {
        display: flex;
        flex-direction: column;
    }

    .leftlogin h1 {
        color: #77ffc0;
        display: none;
    }

    .leftlogin {
        width: 100%;
        height: auto;
    }

    .rightlogin {
        width: 100%;
        height: auto;
    }

    .left-login-image {
        width: 50vh;
    }

    .cardlogin {
        width: 90%;
        margin: 15px;
    }

}